.App {
  width: 100%;
  max-width: 500px;
  padding: 0 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 50px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #262626;
  text-align: center;
}
